* {
	padding:0;
	margin:0;
}
.front {
	width:100%;height:866px;
	/*background:blue;*/
}
.front .from1 {
	width: 100%;
	height: 766px;
	/*margin:0 auto;*/
	/*background: pink;*/
	background: url("../img/3/3zhu.jpg");
	background-size:cover;
	/*background: cover;*/

}